name: Generate Release Notes

on:
#   release:
#     types: [published]
    push: #! For testing purposes
        branches:
        - main

jobs:
  release_notes:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install GitHub CLIs
        run: |
            curl -LO https://github.com/cli/cli/releases/download/v2.4.0/gh_2.4.0_linux_amd64.tar.gz
            tar xvf gh_2.4.0_linux_amd64.tar.gz
            sudo mv gh_2.4.0_linux_amd64/bin/gh /usr/local/bin/
            rm -rf gh_2.4.0_linux_amd64.tar.gz gh_2.4.0_linux_amd64

      - name: Generate release notes
        run: |
          PREVIOUS_TAG=$(git describe --tags --abbrev=0 --always HEAD^)
          RELEASE_NOTES=$(git log --format=%B $PREVIOUS_TAG..HEAD | tr '\n' ';')
          echo "RELEASE_NOTES=$RELEASE_NOTES" >> $GITHUB_ENV
      
      - name: Print tag_name
        run: |
          echo "tag_name: ${{ github.event.release.tag_name }}"
      
      - name: Update release
        run: |
          RELEASE_NOTES="${RELEASE_NOTES//;/\\n}"
          gh release create ${{ github.event.release.tag_name }} \
            --title ${{ github.event.release.name }} \
            --notes "$RELEASE_NOTES" \
            --prerelease
        env:
          GH_TOKEN: ${{ secrets.JEKYLL_PAT }}