name: Scheduled Tasks
on:
  schedule:
    - cron: "35 * * * *"
    # run every 1 minute for testing

jobs:
  scheduled-task:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: ./i211102_Schedule.sh 
